* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* reponsive header */
/* icon*/
#check{
  display:none;
}
/*icons menu */
.mobile-icons{
  cursor: pointer;
  padding-top: 1%;
  margin-left: 2%;
  position: absolute;
  font-size: 25px;
  display: none;
}

/* search */
.mobile-search-btn {
  margin-left: 83%;
  position: absolute;
  font-size: 30px;
  display: none;
}

.mobile-search-btn a{
  color: #000;
  text-decoration: none;
}
/* buy */
.mobile-buy-btn{
  margin-left: 92%;
  position: absolute;
  font-size: 30px;
  display: none;
}

.mobile-buy-btn a{
  color: #000;
  text-decoration: none;
}

/* reponsive footer */
.introducing_dg p ,
.client-support p,
.client-care p,
.time-word{
    display:none;
}



html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
}

#main {
  height: auto;
}

.btn {
  font-size: 12px;
}

.p-footer {
  font-weight: 700;
}

.padding-15 {
  padding: 0 15px;
}

/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: auto;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  left: 0;
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: 2;
}

.wrap-header {
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1100px;
}

/* CSS LEVEL CHILD HEADER */
#nav {
  /* display: inline-block; */
  display: inline-flex;
  list-style-type: none;
}

#nav li {
  position: relative;
}

#nav li a:hover {
  animation-delay: 70s;
  font-weight: bold;
  border-bottom: 2px solid #000000;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  font-size: 16px;
  display: block;
  /* border-bottom: 2px solid #000; */
}

#nav > li > a {
  color: #676666;
  padding: 0 20px;
  font-weight: 500;
}

#header .logo {
  width: 86px;
  height: 70px;
}

/* Search icon */
#header .icon-search {
  float: right;
  width: 27px;
  height: 27px;
  z-index: 1;
  color: black;
}

#header .search-btn {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 50px;
  overflow: hidden;
}

#header .search-btn a {
  text-decoration: none;
  color: #000;
}

.search-btn input {
  height: 32px;
  outline: none;
  border: none;
  padding-left: 35px;
}

#header .ti-search {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.buy-btn a {
  text-decoration: none;
  color: #000;
}

.buy-btn .buy-text {
  font-size: 14px;
}

/* Slider image */
#slider {
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  padding-top: 75px;
}

.slider-images {
  display: flex;
  margin-bottom: 10px;
}

.slider-images img {
  width: 100%;
}

.slider-images input {
  display: none;
}

.label-slider {
  display: flex;
  justify-content: center;
}

.label-slider label {
  margin: 2px;
  height: 12px;
  width: 12px;
  border-radius: 20px;
  border: 2px solid black;
}

.label-slider label:hover {
  background-color: rgb(149, 145, 145);
}

#img1:checked ~ .imgslider1 {
  margin-left: -100%;
}

#img2:checked ~ .imgslider2 {
  margin-left: -200%;
}

#img3:checked ~ .imgslider3 {
  margin-left: -300%;
}

#img4:checked ~ .imgslider4 {
  margin-left: -400%;
}

/* Footer */
#footer {
  padding: 40px 0 30px;
}

.row {
  display: flex;
  background-color: #000;
  height: 480px;
  justify-content: center;
  min-width: 992px;
  padding: 40px 0 30px;
}

.row h4 {
  color: #9b9b9b;
  font-size: 18px;
  padding: 12px 0;
  font-weight: bold;
}

.row p,
.support li a {
  color: #fff;
  font-size: 14px;
  line-height: 22.4px;
}

/* About */
.row .about {
  width: 18%;
}

.about .certifi-btn {
  margin-top: 11px;
}

.about .certifi-btn img {
  max-width: 150px;
}

/* Address */
.row .address {
  width: 19%;
}

/* Support */
.row .support {
  width: 18%;
}

.support li::marker {
  color: #fff;
}

.row .support a {
  list-style-type: square;
}

.row .support a:hover {
  color: #009bc1;
}

/* Care */
.row .care {
  width: 20%;
}

.care .phone-contact {
  display: flex;
}

.care .phone-contact .hone icon-p{
  width: 18%;
}

.phone-contact .icon-phone i {
  font-size: 28px;
  margin-top: 7px;
}

.care .phone-contact .number-phone {
  width: 40%;
}

/* Social */
.support a,
.social-btn a {
  text-decoration: none;
  color: #fff;
}

.social-btn ul {
  display: flex;
  flex-direction: row;
}

.social-btn li a {
  display: inline-block;
  border: 1px solid #fff;
  margin: 0 10px;
  width: 27px;
  height: 29px;
  border-radius: 5px;
  text-align: center;
  line-height: 2.1;
  font-size: 14px;
}

.social-btn li a:hover {
  border-color: #000;
}

.footer-copy {
  margin-top: -55px;
  text-align: center;
  color: aliceblue;
  font-weight: bold;
}

